@model MOEntities.User
@{
    ViewBag.Title = "Giriş";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/login-register.css" rel="stylesheet" />
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
@using (Html.BeginForm("Login", "AuthenticationUser",FormMethod.Post))
{
    <div class="container">
        <h1 class="well">Giriş</h1>
        <div>
            <div class="alert alert-danger" role="alert"><strong>Üye girişi yapmanız gerekmektedir.<br /><hr/>@ViewBag.Message</strong></div>                       
        </div>       
        <div class="col-lg-12 well">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label>Kullanıcı Adı</label>
                    @Html.TextBoxFor(model => model.Username, new { @class = "form-control", placeholder = "Kullanıcı Adınızı Giriniz." })
                </div>
                <div class="col-sm-6 form-group">
                    <label>Şifre</label>
                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control", placeholder = "Şifrenizi Giriniz.", type = "password" })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <button type="submit" class="btn btn-block btn-success">Giriş</button>
                </div>
            </div>

        </div>
    </div>
}



